.jumbotron {
    background-color: rgb(77, 59, 110);
    text-align: center;
    color: white;
}

.card-header {
background-color: rgb(196, 188, 211);
}

.form-group {
    font-weight: bold;
}

#form-top {
    padding-top: 20px;
}

#submit-button {
    margin-bottom: 20px;
}

